@model PlaceNetwork.Models.UserRegistrationModel
@{ ViewBag.Title = "Registration"; }


<div class="row">
    <div class="col-xs-1 col-sm-3"></div>
    <div class="col-xs-10 col-sm-6">

        <div class="panel panel-default">
            <div class="panel-heading">Registration</div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true, "Registration failed. Check fields")
                    @Html.LabelFor(u => u.Login)
                    @Html.TextBoxFor(u => u.Login, new { @class = "form-control", @maxlength = "50" })
                    @Html.ValidationMessageFor(u => u.Login)

                    @Html.LabelFor(u => u.Password)
                    @Html.PasswordFor(u => u.Password, new { @class = "form-control", @maxlength = "50" })
                    @Html.ValidationMessageFor(u => u.Password)

                    @Html.LabelFor(u => u.Email)
                    @Html.TextBoxFor(u => u.Email, new { @class = "form-control", @maxlength = "50" })
                    @Html.ValidationMessageFor(u => u.Email)

                    @Html.LabelFor(u => u.UserName)
                    @Html.TextBoxFor(u => u.UserName, new { @class = "form-control", @maxlength = "50" })
                    @Html.ValidationMessageFor(u => u.UserName)
                    <br />
                    <button type="submit" class="btn btn-default">Register</button>
                    <a class="btn btn-default" href="/account/login">Log in</a>
                }
            </div>
        </div>
    </div>
</div>
